<form>
  <div class="card">
      <div class="card-title">
          Professional Morse
      </div>
    <div class="card-body">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">请输入单词，支持【空格".,?!:'】</label>
        <textarea class="form-control" rows="3" [(ngModel)]="word"
          name="word"></textarea>
      </div>
      <p *ngIf="word" [@openClose]="word?'open':''">
        <button type="button" class="btn btn-secondary animated bounceIn" ngxClipboard [cbContent]="word|xmorse">复制</button>
        &nbsp;<span>{{word|xmorse}}</span>
      </p>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">在这里输入摩尔斯代码</label>
        <textarea class="form-control" rows="3" [(ngModel)]="morse"
          name="morse"></textarea>
      </div>
      <p *ngIf="morse" [@openClose]="morse?'open':''">
        <button type="button" class="btn btn-secondary animated bounceIn" ngxClipboard [cbContent]="morse|dmorse|lowercase ">复制</button>
        &nbsp;<span>{{morse|dmorse|lowercase }}</span>
      </p>
    </div>
  </div>
</form>
<br>
<p class="text-right">for Da金子</p>