<div [ngStyle]="{background: pattern4}" class="bg">
  <div class="just-bg text-white" [ngStyle]="{background: pattern1}">
    欢迎来到杭州美动健康管理有限公司官网~
  </div>
  <h1 [ngStyle]="{background: pattern2}" class="text-white text-center bg-warning title">杭州美动健康管理有限公司</h1>


  <br>
  <section>
    杭州美动健康管理有限公司主要经营范围，非医药类健康咨询，技术开发，技术服务，技术咨询，成果转让：计算机网络技术，计算机信息技术，计算机软硬件，电子产品，计算机系统集成；销售：计算机软硬件，通讯设备，机电产品，电子产品，承接：计算机网络工程等。
  </section>
  <br>
  <br>
  <section>
    公司尊崇“踏实，拼搏，责任”的企业精神，并以诚信，共赢，开创经营理念，创造良好的创业环境，以全新的的管理模式，完善的技术，周到的服务，卓越的品质为生存根本，我们始终坚持用户至上，用心服务于客户，坚持用自己的服务去打动客户。
  </section>
  <div class="us text-white text-center" [ngStyle]="{background: pattern3}">
    地址：杭州市滨江区长河街道江汉路1785号网新双城大厦1幢2220
  </div>
</div>