<div class="circle-group">
  <div class="circle big-cicle">
    <div class="area" [ngStyle]="{height: range+'%'}"></div>
    <div class="area-desc">
      <div [class.text-white]="range>81">海南昌江</div>
      <div [class.text-white]="range>40">{{range}}%</div>
    </div>
  </div>
  
  <div class="circle small-cicle">
    <div class="area" [ngStyle]="{height: range+'%'}"></div>
    <div class="area-desc">
      <div [class.text-white]="range>81">海南昌江</div>
      <div [class.text-white]="range>40">{{range}}%</div>
    </div>
  </div>
</div>

<div>
  <label for="range">请拖动</label>
  <input type="range" step="0.01" class="custom-range" id="range" name="range" [(ngModel)]="range">
</div>
